@model Kosuma.Models.LiveStream;

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>

<script src="~/js/site.js"></script>

<script>
    var group = '@Model.Id';
    startConnection(group);
</script>

<div>
    <h1>@Model.Id</h1>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>

    <img src="@Model.Thumbnail" alt="Stream Thumbnail" /> 

    <div
        style="border: 1px solid #ddd; border-radius: 8px; padding: 16px; margin-top: 20px; background-color: #f9f9f9;">
        <h2 style="text-align: center;">Chats</h2>
        <ul id="messagesList" style="max-height: 300px; overflow-y: auto; list-style-type: none; padding: 0;">
            @foreach (var chat in Model.Chats)
            {
                <li style="padding: 8px; border-bottom: 1px solid #ccc;">
                    <strong>@chat.WritedBy : </strong> @chat.Message
                </li>
            }
        </ul>
        <div style="margin-top: 16px; display: flex; gap: 8px;">
            <input type="text" id="messageInput" placeholder="Type your message here..."
                style="flex: 1; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
            <button class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>


<script>
    var group = '@Model.Id';
    // Function to send a message to the SignalR group
    function sendMessage() {
        const message = document.getElementById("messageInput").value;
        if (message.trim() === "") {
            alert("Please enter a message before sending.");
            return;
        }

        sendMessageToGroup(message, group);

        document.getElementById("messageInput").value = "";
    }
</script>